@import '~@angular/material/theming';
@include mat-core();

//33262a
//8ff5e3

$md-mcgpalette0: (
    50 : #e7e5e5,
    100 : #c2bebf,
    200 : #999395,
    300 : #70676a,
    400 : #52474a,
    500 : #33262a,
    600 : #2e2225,
    700 : #271c1f,
    800 : #201719,
    900 : #140d0f,
    A100 : #ff597a,
    A200 : #ff2652,
    A400 : #f20030,
    A700 : #d9002b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-urgeotheme: (
    50 : #e1f2eb,
    100 : #b4e0ce,
    200 : #82cbae,
    300 : #4fb68d,
    400 : #2aa674,
    500 : #04965c,
    600 : #038e54,
    700 : #03834a,
    800 : #027941,
    900 : #016830,
    A100 : #97ffbe,
    A200 : #64ff9e,
    A400 : #31ff7e,
    A700 : #18ff6e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



$my-app-primary: mat-palette($md-urgeotheme, 500);
$my-app-accent:  mat-palette($md-mcgpalette0, 500, 900, A100);
$my-app-warn:    mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);