<h1 mat-dialog-title> Essais </h1>
<div mat-dialog-content>
  Essais List Test 
  <ul>
    <li>
      <span>&#10003;</span> Electrique
    </li>
    <li>
      <span>&#10003;</span> FOrage
    </li>
    <li>
      <span>&#10003;</span> Sysmique
    </li>
  </ul>
</div>

<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->