.sidenav-container {
  height: 100%;
}

.content {
  overflow-y: hidden;
}

.sidenav {
  width: 200px;
  background: #52474a;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


mat-form-field mat-label, mat-select{
  font-size: 12px;
}

mat-form-field.mat-form-field-should-float mat-label {
  display: none;
}

.simple-bkg{
  background: #52474a;
}

.m-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: #eee;
  border-top: solid 1px #aaa;
  font-size: 12px;
  color: black;
}

.space{
  flex: 1 1 auto;
}

.scolor{
  color: #8ff5e3;
}

.example-tree-invisible {
  display: none;
}

.example-tree{
  margin-top: 5px;
  color: #ddd;
}
.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  background: #52474a;
  color: #ddd;
}
