<div class="mat-elevation-z8">
  <div style="margin-left: 10px">
    <mat-form-field floatPlaceholder="never">
      <input matInput #filter placeholder="Recherche">
    </mat-form-field>

    <button mat-button color="warn" (click)="fetchData()">
      <i class="material-icons">refresh</i>
    </button>
  </div>

  essaisId:number;
  essaisAltId:string;
  essaisTypeId:number;
  institutionId:number;
  essaisSiteName:string;
  essaisPosX:number;
  essaisPosY:number;
  essaisPosZ:number;
  essaisDate:string;
  essaisTime:string;
  essaisFile:string;

  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="Code">
      <mat-header-cell *matHeaderCellDef> Code </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row[0].audienceId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Coordonnees">
      <mat-header-cell *matHeaderCellDef> Coordonnees </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-icon style="font-size: 15px;">gavel</mat-icon> {{'[' + row[0].essaisPosX + ', ' + row[0].essaisPosY + ',' + row[0].essaisPosZ + ']'}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Site">
      <mat-header-cell *matHeaderCellDef> Site </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-icon style="font-size: 15px;">folder</mat-icon> {{row[0].essaisSiteName}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Institution">
      <mat-header-cell *matHeaderCellDef>Institution </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row[1].institutionName}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="Details">
      <mat-header-cell *cdkHeaderCellDef> </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> <button mat-button color="warn" (click)="openDetailsDialog(row)">Détails</button></mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="Update">
      <mat-header-cell *cdkHeaderCellDef> </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> <button mat-button color="warn" (click)="openUpdateDialog(row)">Update</button></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>